#boxes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 200px;
  padding: 10px;
  top: 80px;
  width: 80%;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .boxes {
    right: calc((100% - 1000px) / 2);
    width: 60%;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .boxes {
    right: calc((100% - 800px) / 2);
    width: 80%;
    margin-right: -10px;
  }
}

@media screen and (max-width: 800px) {
  .boxes {
    right: calc((100% - 600px) / 2);
    width: 90%;
  }
}

.box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  padding: 10px;
  z-index: 9;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.box-image {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 0px;
}
.box-content {
  margin: auto;
  margin-left: 8%;
  justify-content: center;
}
.box-title {
  margin-top: -15px;
  margin-bottom: 0px;
  text-align: center;
}
.box-title a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.box-title a:hover {
  text-decoration: underline;
}
.box-description {
  text-align: justify;
  font-size: 14px;
  margin-right: 100px;
  color: #000000;
  word-wrap: break-word;
}
.box-buttons-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, 50%);
}

.box-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.box-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #383636;
  padding: 5px;
  border-top: 5px solid #ccc;
  margin: auto;
}
.btn-login {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #0f6fec;
  padding: 5px;
  margin: auto;
  cursor: pointer;
  padding: 10px 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}
.btn-register {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #0f6fec;
  padding: 5px;
  margin: auto;
  cursor: pointer;
  padding: 10px 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}
.btn-login:hover,
.btn-register:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
}
.search-container {
  position: absolute;
  top: -6px;
  right: 150px;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  z-index: 10;
}
.search {
  position: absolute;
  top: 20px;
  float: right;
  right: 10px;
  z-index: 10;
}
.bx-dots-horizontal {
  position: absolute;
  margin-top: -20px;
}
.bx-user-plus {
  position: absolute;
  margin-top: 54px;
  margin-right: 220px;
}
