.box {
  position: relative;
  border: 1px solid black;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  max-width: 90% !important;
  left: 110px;
  top: 100px;
}
.box-content {
  width: 100%;
}
.profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
}


.box-content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.box-title{
  position: absolute;
  margin-left: 70px;
  top: -50px;
}
.box-description{
  text-align: justify;
}
.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
}

.comment-username {
  font-weight: bold;
}
.btn-login {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #0f6fec;
  padding: 5px;
  margin: auto;
  cursor: pointer;
  padding: 10px 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}
.btn-register {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #0f6fec;
  padding: 5px;
  margin: auto;
  cursor: pointer;
  padding: 10px 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}
.btn-login:hover,
.btn-register:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
}
.bx-comment,
.add-comment-button {
  width: 100px;
}
.create-post-button {
  background-color: transparent;
  left: 100px;
  font-size: 15px;
  color: #0f6fec;
  padding: 5px;
  cursor: pointer;
  padding: 10px 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}
.create-post-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
